# Generated artifacts and purchased IAPP source material are never committed.
# (Each cert subdir's build/ holds the extracted exam text, questions.json and
#  the full generated audio — all derived from copyrighted IAPP publications.)
build/
source/*.epub
source/*.pdf

# Python bytecode
__pycache__/
*.pyc
